SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
GCC_OPTIMIZATION_LEVEL = 0
// ネイティブアーキテクチャ用のオブジェクトコードのみを含めるかどうか
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
// Metal(Shader)関連のデバッグ情報を生成するかどうか
MTL_ENABLE_DEBUG_INFO = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
CODE_SIGN_IDENTITY = Apple Development
PRODUCT_BUNDLE_IDENTIFIER = nakandakari.toru.RoyaleApp.dev
// ビルド時に Presentation フレームワークで "None of the input catalogs contained a matching stickers icon set or app icon set named" のエラーが出るので一旦 project.yml の方で設定する
//ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
// アサーション関連のコードを含めるか消去するか
ENABLE_NS_ASSERTIONS = YES
// 製品検査テストを行うかどうか
VALIDATE_PRODUCT = NO
// ローカライズされていない文字列に対して警告を出すかどうか
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES